

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  
}
.quote{
  text-align: center;
}
.quote p{
margin-top: 10px;
}
.app a{
  text-decoration: none;
  color: white;
}

